* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43281c;
  gap: 10px;
}

.logo {
  height: 30px;
}

.logo-text {
  font-size: 24px;
  color: #fbf2c0;
}

.wrapper {
  width: 100%;
  padding: 20px;
}

/*#region menu*/
.menu {
  grid-area: menu;
  height: fit-content;
  margin-bottom: 15px;
}

.menu__items {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  row-gap: 8px;
  column-gap: 8px;
  grid-template-areas:
    "items__amount item__title item__price"
    "items__amount item__extra-options item__price";
  padding: 10px 0;
}

.menu__items:not(:last-child) {
  border-bottom: 2px solid #DDB892;
}

.item__title {
  grid-area: item__title;
  font-weight: bold;
}

.item__price {
  grid-area: item__price;
  font-weight: bold;
}

.item__extra-options {
  grid-area: item__extra-options;
  color: #B08968;
  font-size: 14px;
}

/* #endregion */

/* #region order&pay */
.order {
  grid-area: order;
}

.card {
  background-color: #eee1d5;
  padding: 20px;
  border-radius: 10px;
}

.card__title {
  text-transform: uppercase;
  color: #885a2d;
  font-weight: normal;
  font-size: 16px;
}

.order__client {
  margin-bottom: 15px;
}

.client-name {
  position: relative;
  margin-bottom: 20px;
}

.input__form-label {
  color: #885a2d;
  background-color: #eee1d5;
  font-size: 11px;
  position: absolute;
  left: 25px;
  top: -7px;
  padding: 0 2px;
}

.input-style {
  background-color: transparent;
  border: 2px solid #885a2d;
  border-radius: 100px;
  color: #885a2d;
  width: 100%;
  padding: 8px;
  text-indent: 18px;
  font-size: 16px;
}

.input-style:focus {
  border-color: #eee1d5;
}

.input-style--ccv {
  width: 50%;
}

.payment__form {
  position: relative;
}

.payment__form:not(:last-child) {
  margin-bottom: 20px;
}
/* #endregion */

.total {
  grid-area: total;
}

.total__table {
  width: 50%;
  margin: 50px auto 30px;
}

.total__row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.total__row:last-child {
  font-weight: bold;
}

.btn__order {
  width: 100%;
  border-radius: 30px;
  background-color: #deb993;
  color: #43281c;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


@media (min-width: 640px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "menu order"
      "total total";
    row-gap: 20px;
    column-gap: 20px;
  }
}

@media (min-width: 1056px) {
  .wrapper {
    width: 1056px;
    margin: 0 auto;
  }

  .total__table {
    width: 30%;
  }
}
