* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43281c;
  gap: 10px;
}

.logo {
  height: 30px;
}

.logo-text {
  font-size: 24px;
  color: #fbf2c0;
}

.wrapper {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "menu order"
  "total total";
  row-gap: 20px;
  column-gap: 20px;
}

.menu {
  grid-area: menu;
  height: fit-content;
}

.order {
  grid-area: order;
}

.total {
  grid-area: total;
}

.card {
  background-color: #eee1d5;
  padding: 15px;
  border-radius: 10px;
}

.card__title {
  text-transform: uppercase;
  color: #885a2d;
  font-weight: normal;
  font-size: 16px;
}

.order__client {
  margin-bottom: 15px;
}
